In [34]:
import pandas as pd

In [6]:
file1 = "Resources/schools_complete.csv"
file2 = "Resources/students_complete.csv"

In [35]:
schools_data = pd.read_csv(file1)
students_data = pd.read_csv(file2)

In [54]:
### District Summary
total_schools = schools_data["school_name"].count()
total_student = students_data["student_name"].count()
total_budget = schools_data["budget"].sum()
total_schools
avg_math_score = students_data["math_score"].mean()
avg_reading_score = students_data['reading_score'].mean()
math_score = students_data.loc[students_data["math_score"]>=70]["math_score"].count()
reading_score = students_data.loc[students_data["reading_score"]>=70]["reading_score"].count()
perc_math_score  = math_score / total_student
perc_reading_score = reading_score / total_student
overall_rate = students_data[(students_data["reading_score"]>=70) &(students_data["reading_score"]>=70)]["student_name"].count()/ total_student

District_data_frame = pd.DataFrame ({ "total schools" : [total_schools],
                                     "Total Students" : [total_student],
                                     "Total Budget":[total_budget],
                                     "Average Math Score" : [avg_math_score] ,
                                     "%Passing Math" : [perc_math_score],
                                    "Average Reading Score" :[avg_reading_score], 
                                     " % Passing Reading": [perc_reading_score],
                                     "Overall Passing Rate":[overall_rate]
})
                                          

District_data_frame.style.format({"Total Students" : "{:,}","Total Budget": "${:,}", "Average Math Score": "{:.2f}", "%Passing Math":"{:.1%}",
                                   "% Passing Reading": "{:.2%}",   "Overall Passing Rate": "{:.2%}"})

In [39]:
school = schools_data.groupby("school_name").head()

In [12]:
merging = pd.merge(schools_data, students_data, on="school_name")
school_info = merging.set_index("school_name").groupby(["school_name"])


types_info = schools_data.set_index("school_name")["type"].count()


total_student_schools = merging.set_index("school_name")["Student ID"].count()
Total_School_Budget = schools_data.set_index("school_name")['budget'].sum()
Per_Student_Budget = schools_data.set_index("school_name")['budget']/schools_data.set_index("school_name")["size"]
avg_math_score = school_info["math_score"].mean()
avg_reading_score = school_info["reading_score"].mean()
perc_math = merging[merging["math_score"]>=70].groupby("school_name")["Student ID"].count() /  total_student_schools
perc_reading = merging[merging["reading_score"]>=70].groupby("school_name")["Student ID"].count() /  total_student_schools
Overall_Passing_Rate  = merging[(merging["reading_score"]>=70)& (merging["math_score"]>=70)].groupby("school_name")["Student ID"].count()/total_student_schools
Overall_Passing_Rate 
school_dataframe=pd.DataFrame({"School Name":types_info,
                               "Total Students":total_student_schools ,
                               "Total School Budget": Total_School_Budget,
                              "Per Student Budget": Per_Student_Budget,
                               "Average Math Score":avg_math_score,
                               " Average Reading Score":avg_reading_score,
                               "Passing Math":perc_math ,
                               "Passing Reading":perc_reading,"Overall Passing Rate":Overall_Passing_Rate})
school_dataframe

,School Name,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
Bailey High School,15,39170,24649428,628.0,77.048432,81.033963,0.084708,0.104085,0.069415
Cabrera High School,15,39170,24649428,582.0,83.061895,83.975780,0.044652,0.046030,0.043324
Figueroa High School,15,39170,24649428,639.0,76.711767,81.158020,0.049681,0.060786,0.040056
Ford High School,15,39170,24649428,644.0,77.102592,80.746258,0.047766,0.055451,0.037963
Griffin High School,15,39170,24649428,625.0,83.351499,83.816757,0.035001,0.036405,0.033955
Hernandez High School,15,39170,24649428,652.0,77.289752,80.934412,0.078989,0.095685,0.063339
Holden High School,15,39170,24649428,581.0,83.803279,83.814988,0.010084,0.010493,0.009727
Huang High School,15,39170,24649428,655.0,76.629414,81.182722,0.048915,0.060557,0.039852
Johnson High School,15,39170,24649428,650.0,77.072464,80.966394,0.080291,0.098724,0.065075
Pena High School,15,39170,24649428,609.0,83.839917,84.044699,0.023232,0.023564,0.022236
Rodriguez High School,15,39170,24649428,637.0,76.842711,80.744686,0.067756,0.081899,0.054098
Shelton High School,15,39170,24649428,600.0,83.359455,83.725724,0.042201,0.043094,0.040414
Thomas High School,15,39170,24649428,638.0,83.418349,83.848930,0.038933,0.040618,0.037963
Wilson High School,15,39170,24649428,578.0,83.274201,83.989488,0.054710,0.056268,0.052796
Wright High School,15,39170,24649428,583.0,83.682222,83.955000,0.042890,0.044396,0.041511

In [47]:
top_5 = school_dataframe.sort_values("Overall Passing Rate",ascending = False)
top_5.head(5)
top_5.style.format({ 'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

In [174]:
### Bottom Performing Schools (By Passing Rate)
bottom_5 = school_dataframe.sort_values("Overall Passing Rate",ascending = True)
bottom_5.head()

,School Name,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
Holden High School,15,39170,24649428,581.0,83.803279,83.814988,0.010084,0.010493,0.009727
Pena High School,15,39170,24649428,609.0,83.839917,84.044699,0.023232,0.023564,0.022236
Griffin High School,15,39170,24649428,625.0,83.351499,83.816757,0.035001,0.036405,0.033955
Ford High School,15,39170,24649428,644.0,77.102592,80.746258,0.047766,0.055451,0.037963
Thomas High School,15,39170,24649428,638.0,83.418349,83.848930,0.038933,0.040618,0.037963

In [67]:
### Math Scores 
ninth_math = students_data.loc[students_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = students_data.loc[students_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = students_data.loc[students_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = students_data.loc[students_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

Math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
Math_scores = Math_scores[['9th', '10th', '11th', '12th']]
Math_scores.index.name = "school_name"


Math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [69]:
# reading score 
ninth_reading = students_data.loc[students_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = students_data.loc[students_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = students_data.loc[students_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = students_data.loc[students_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()


reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "school_name"

#format
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

In [ ]:
# score by school